<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.22.1" targetFramework="portable-net40+sl50+wp80+win" developmentDependency="true" />
  <package id="Portable.Ninject" version="3.2" targetFramework="portable-net40+sl50+wp80+win" />
  <package id="StaticProxy.Fody" version="0.0.1-beta2" targetFramework="portable-net40+sl50+wp80+win" developmentDependency="true" />
  <package id="StaticProxy.Interceptor" version="0.0.1-beta2" targetFramework="portable-net40+sl50+wp80+win" />
</packages>