<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.29.4" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="StaticProxy.Fody" version="0.3.0.91" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
  <package id="StaticProxy.Interceptor" version="0.3.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>